<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">...افزودن شخص جدید</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form #form="ngForm" class="form-horizontal" novalidate>

    Model: {{ model | json }}

    <div class="box-footer">
      <button type="button" class="btn btn-default btn-flat">خروج(Esc)</button>
      <button type="submit" class="btn btn-success btn-flat" [disabled]="form.invalid">ثبت(F10)</button>
    </div>
    <!-- /.box-footer -->
    <div class="box-body">
      <!--  -->
      <div class="form-group">
        <label class="col-sm-2 control-label">نوع شخص</label>
        <div class="col-sm-2">
          <select class="form-control" name="person_type" [(ngModel)]="model.person_type" autofocus>
            <option *ngFor="let type of personType" [ngValue]= "type.value">
                    {{ type.title }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
        <label for="first_name" class="col-sm-2 control-label">نام</label>

        <div class="col-sm-4">
          <input #firstName="ngModel" [(ngModel)]="model.first_name" minlength="3" maxlength="20" type="text" class="form-control" name="first_name" placeholder="نام..." required autocomplete="off">
          <div *ngIf="firstName.invalid && firstName.touched">
            <div class="alert alert-danger" *ngIf="firstName.errors.required">
              فیلد اجباری
            </div>
            <div class="alert alert-danger" *ngIf="firstName.errors.minlength">
              نام باید حداقل {{firstName.errors.minlength.requiredLength}} کاراکتر باشد
            </div>
            <div class="alert alert-danger" *ngIf="firstName.errors.maxlength">
              نام باید حداکثر {{firstName.errors.maxlength.requiredLength}} کاراکتر باشد
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched">
        <label for="last_name" class="col-sm-2 control-label">نام خانوادگی</label>

        <div class="col-sm-4">
          <input #lastName="ngModel" [(ngModel)]="model.last_name" minlength="3" maxlength="30" type="text" class="form-control" name="last_name" placeholder="نام خانوادگی..." required autocomplete="off">
          <div *ngIf="lastName.invalid && lastName.touched">
            <div class="alert alert-danger" *ngIf="lastName.errors.required">
              فیلد اجباری
            </div>
            <div class="alert alert-danger" *ngIf="lastName.errors.minlength">
              نام خانوادگی باید حداقل {{lastName.errors.minlength.requiredLength}} کاراکتر باشد
            </div>
            <div class="alert alert-danger" *ngIf="lastName.errors.maxlength">
              نام خانوادگی باید حداکثر {{lastName.errors.maxlength.requiredLength}} کاراکتر باشد
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="gender" [(ngModel)]="model.gender" [value]="true">
              مرد
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="gender" [(ngModel)]="model.gender" [value]="false">
              زن
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="disable" [(ngModel)]="model.disable"> غیرفعال
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">گروه</label>
        <div class="col-sm-3">
          <select class="form-control" name="group_id" [(ngModel)]="model.group_id">
            <option *ngFor="let type of personGroupType" [ngValue]= "type.value">
                    {{ type.title }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">مانده اول دوره</label>
        <div class="col-sm-3">
          <select class="form-control" name="first_remaining_type" [(ngModel)]="model.first_remaining_type">
            <option *ngFor="let type of firstRemainingType" [ngValue]= "type.value">
              {{ type.title }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngIf="model.first_remaining_type != 'incalculable'">
        <label for="first_remaining" class="col-sm-2 control-label"></label>

        <div class="col-sm-4">
          <input #firstRemainig="ngModel" [(ngModel)]="model.first_remaining" minlength="1" maxlength="19" type="text" class="form-control" name="first_remaining" placeholder="مبلغ..." required autocomplete="off">
          <div *ngIf="firstRemainig.invalid && firstRemainig.touched">
            <div class="alert alert-danger" *ngIf="firstRemainig.errors.required">
              فیلد اجباری
            </div>
            <div class="alert alert-danger" *ngIf="firstRemainig.errors.minlength">
              مبلغ باید حداقل {{firstRemainig.errors.minlength.requiredLength}} کاراکتر باشد
            </div>
            <div class="alert alert-danger" *ngIf="firstRemainig.errors.maxlength">
              مبلغ باید حداکثر {{firstRemainig.errors.maxlength.requiredLength}} کاراکتر باشد
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-4">
          <input type="text" class="form-control" name="first_remaining" [(ngModel)]="model.first_remaining" placeholder="مبلغ...">
        </div> -->
      </div>
      <div class="form-group">
        <label for="credit_limit" class="col-sm-2 control-label">سقف اعتبار</label>

        <div class="col-sm-4">
          <input type="text" class="form-control" name="credit_limit" [(ngModel)]="model.credit_limit" placeholder="آزاد...">
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">آدرس</label>

        <div class="col-sm-8">
          <input type="text" class="form-control" name="address" [(ngModel)]="model.address" placeholder="ادرس...">
        </div>
      </div>
      <app-comment [(comment)]="model.comment"></app-comment>
    </div>
    <!-- /.box-body -->
  </form>
</div>
