<div class="row">
  <div class="col-xs-12">
    <div class="box box-info">
      <div class="box-header">
        <!-- <h3 class="box-title">{{ pageTitle }}</h3> -->
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!-- <label class="control">Filter items
          <input type="text" placeholder="filter" [(ngModel)]="filter">
        </label> -->
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>


        <table class="table direction table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>کد شخص</th>
              <th>گروه</th>
              <th>نوع</th>
              <th>نام</th>
              <th>مانده فعلی</th>
              <th>ماهیت مانده</th>
              <th>عملیات</th>
            </tr>
          </thead>
          <!-- <tbody *ngIf="!persons">
            <tr>
              <td colspan="10">
                <h1><i class="fa fa-frown-o"></i></h1>
                <h4> اطلاعاتی برای نمایش موجود نیست!!</h4>
              </td>
            </tr>
          </tbody> -->
          <tbody *ngIf="persons && persons.length">
            <tr *ngFor="let person of persons | paginate: { itemsPerPage: 7, currentPage: p, totalItems: total }">
              <td>{{ person.person_id.id }}</td>
              <td>{{ person.person_id.group_id.title }}</td>
              <td>{{ person.person_id.type }}</td>
              <td>{{ person.person_id.last_name + ' ' + person.person_id.first_name }}</td>
              <td>{{ person.sum }}</td>
              <td>{{ person.mahiat }}</td>
              <td>
                <a class="btn btn-primary">
                  <!-- [routerLink]="['/products', product.id, 'edit']" -->
                  Edit
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <br/>
        <div align="center">
          <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
          <pagination-controls (pageChange)="getPage($event)" previousLabel="قبلی" nextLabel="بعدی">
          </pagination-controls>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>



</div>
